<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-CompassSpark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-CompassSpark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-LayeredItinerary</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-LayeredItinerary</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RouteCase</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-RouteCase</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Trip Planner uses your location to highlight nearby trips and make map-based planning more relevant.</string>
</dict>
</plist>
